<% include common/header.ejs %>

<div class="">
    Main Page Content
</div>


<div id="googleMap"> </div>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB7iJ0Q_VEx35sEVYaaOc_mz07nXqza-Uk">
</script>

<% include common/footer.ejs %>



